{% extends "base.html" %}
{% load static %}
{% block content %}


 <!-- Hero Start -->
 <div class="container-fluid bg-primary hero-header mb-5">
    <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">{{testmonial2.title}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                <li class="breadcrumb-item"><a class="text-white" href="#">{{testmonial2.job_title}}</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">{{testmonial2.Description}}</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">{{testmonial2.Description2}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Hero End -->



    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-4">{% for x in features %}
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="{{x.job_title}}"></i>
                            <h5 class="text-white mb-0">{{x.title}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Testimonial Start -->
    <div class="container-fluid testimonial bg-primary my-5 py-5">
        <div class="container text-white py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-white mb-3">{{testmonial.title}}<span class="fw-light text-dark">{{testmonial.job_title}}</span></h1>
                <p class="mb-5">{{testmonial.Description}}</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">{% for x in testmonial1 %}
                        <div class="testimonial-item text-center" data-dot="1">
                            <img class="img-fluid border p-2" src="{{x.image.url}}" alt="">
                            <h5 class="fw-light lh-base text-white">{{x.Description}}</h5>
                            <h5 class="mb-1">{{x.title}}</h5>
                            <h6 class="fw-light text-white fst-italic mb-0">{{x.job_title}}</h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial End -->

    {% endblock %}